{% extends "layouts/base_dashboard.html" %}
{% block title %}Mot de passe mis a jour{% endblock %}
{% block topbar_subtitle %}Compte{% endblock %}
{% block sidebar_content %}
  {% if user.role == "STUDENT" %}
    {% include "layouts/sidebar_student.html" %}
  {% elif user.role == "MOBILITY_MANAGER" %}
    {% include "layouts/sidebar_manager.html" %}
  {% elif user.role == "SCHOOL_ADMIN" %}
    {% include "layouts/sidebar_admin.html" %}
  {% elif user.role == "DIRECTOR" %}
    {% include "layouts/sidebar_director.html" %}
  {% elif user.role == "PARTNER" %}
    {% include "layouts/sidebar_partner.html" %}
  {% endif %}
{% endblock %}
{% block sidebar_mobile %}
  {% if user.role == "STUDENT" %}
    {% include "layouts/sidebar_student.html" %}
  {% elif user.role == "MOBILITY_MANAGER" %}
    {% include "layouts/sidebar_manager.html" %}
  {% elif user.role == "SCHOOL_ADMIN" %}
    {% include "layouts/sidebar_admin.html" %}
  {% elif user.role == "DIRECTOR" %}
    {% include "layouts/sidebar_director.html" %}
  {% elif user.role == "PARTNER" %}
    {% include "layouts/sidebar_partner.html" %}
  {% endif %}
{% endblock %}
{% block content %}
  <div class="role-hero">
    <h2>Mot de passe mis a jour</h2>
    <p>Votre mot de passe a ete modifie avec succes</p>
  </div>

  <div class="role-card">
    <a class="btn btn-ensias" href="{% url 'home' %}">Retour au dashboard</a>
  </div>
{% endblock %}
